.h{
    color: palevioletred;
}
@keyframes grow {
    from{
        font-size: small;
    }
    to{
        font-size: large;
    }
    
}
.errorm{
    color: red;
    animation-name: grow;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}
.myform{
    margin-left: 25%;
    margin-right: 25%;
    background-image: url("https://i.pinimg.com/474x/96/03/23/9603231487d329c6ab18230e52433dcc.jpg");
    background-repeat: no-repeat;
     background-size: 200px 250px;
    background-position-x: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

@keyframes wander {
    0%{
        margin-left: 20%;
    }
    
    50%{
        margin-left: 50%;
    }
    100%{
        margin-left: 20%;
    }
    
}
@keyframes jump {
    0%{
        margin-top:5%;
    }
    50%{
        margin-top: 10%;
    }
    100%{
        margin-top:5%;
    }
    
}

h1{
    animation-name: wander;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table td{
    border: 0.5px solid salmon;
}
.quote{
    font-size: larger;
    font-family: cursive;
    font-style: italic;
    color: rgb(243, 97, 53);
    animation-name: grow;
    animation-name: wander;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

#q{
    animation-name: jump;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}