{%extends 'base.html'%}

{%block title%}quoteee{%endblock title%}



{%block body%}
<h2 id="q">enter your name to get your quote!</h2>
<div> <table>{% for n in info %}
    <tr><td><a href="https://www.google.com/search?q={{n}}">{{n}}  </a></td></tr>


    {% endfor%}
</table>
</div>
    <br>
    <div>
        
        <form method="POST" action="/your_space">
            {%csrf_token%}
        <label for="exampleFormControlInput3" class="form-label" >choose out of the ones listed above!</label>
        <input name="inpname" type="name" class="form-control" id="exampleFormControlInput3" placeholder="enter name" >
      </div><br>
      
      <center><input type="submit" value="go!"><br>
        
      </center>
    </form>
</div>{%endblock body%}



