{%extends 'base.html'%}
{%block title%}homepage{%endblock title%}

{%block head%}HOMEPAGE of {{uname}}{%endblock head%}

{%block body%}this is index.html under templates 
<p>returned this page as render(request,link,context)<br>inserted variable is <b><font style="font-family: Verdana, Geneva, Tahoma, sans-serif ;">{{variable}}</font></b>
    <br>var2= <b><font style="font-family: Verdana, Geneva, Tahoma, sans-serif ; color: aquamarine;">{{variable2}}</font></b></p>

    <center><div><img src="https://picsum.photos/500/300" alt="photu"></center>
    </div>

{%endblock body%}


