{%extends 'base.html'%}
{%block title%}post{%endblock title%}
{%block head%}SUBMIT FORM{%endblock head%}
{%block body%}





{% comment %} alert for submitted 
use iteration under for loop{% endcomment %}

{% if messages %}
<center>
<div class="messages" >
    {% for message in messages %}
    <li{% if message.tags %} class="errorm {{ message.tags }}"{% endif %} style="color: rgb(255, 14, 106) ;font-size: large;"> 
        {{ message }}</li>
    {% endfor %}
</div>
</center>
{% endif %}




<div> check out this <a href="/static/test.txt">text file</a>
    


<form method="post" action="/services" class="myform">{% csrf_token %}


    <center><div >
        
    
        <label for="exampleFormControlInput1" class="form-label">imaginary name you wish you had</label><br>
        <br> <input name="name" type="name"  placeholder="should be unique..">
        <br><br><br><br>
      
      
        <label for="exampleFormControlTextarea1" class="form-label">type a quote you love</label>
         <br> <br><br>
        <textarea name="quote" ></textarea>
       <br><br> 
    
        <label for="exampleFormControlInput2" class="form-label">an adjective that describes you</label>
        <br> <br>
        <input name="adjective" >
        <br><br>
     
      <input type="submit" value="Submit!">
    </div>
    </center>

</form>

    {%endblock body%}


